<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rick.android.halalfood"
    android:versionCode="10000"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <!-- 允许应用程序读取电话状态的权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 检测联网方式，区分用户设备使用的是2G、3G或是WiFi -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 获取用户设备的mac地址，在平板设备上，无法通过imei标示设备，会将mac地址作为用户的唯一标识 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许应用程序联网，以便向Umeng的服务器端发送数据和App使用网络 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.rick.android.halalfood.HalalFoodApp"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- 友盟基本统计：value为添加应用时获得的key ，name的值不要更改 -->
        <!-- 线下546b8b5bfd98c512fb002308，线上546b8ad8fd98c597650041bd -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="546b8b5bfd98c512fb002308" >
        </meta-data>
        <!-- 友盟渠道统计:values 为您的自定义的渠道号， name的值不要更改 -->
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Umeng" />

        <!-- activity -->
        <activity
            android:name=".activity.WelcomeActivity"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.GuideActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".activity.BusinessDetailsActivity"
            android:label="@string/title_activity_business_details"
            android:screenOrientation="portrait"
            android:theme="@style/FadingActionBarTheme" />
    </application>

</manifest>